
/*btn*/
.youtubebtn{
    /*margin: 0 auto;*/
    width:150px; /*%でもできる*/
    height:35px;
    line-height:35px;
}
.youtubebtn a{
    display:block;
    width:100%;
    height:100%;
    text-decoration: none;
    background:#D84444;
    text-align:center;
    color:#FFFFFF;
    font-size:20px;
    font-weight:bold;
    font-style:oblique;
    box-shadow:3px 3px 0px 0px #BDA023 ;
}
.youtubebtn a:hover{
    background:#D88B24;
    color:#FFFFFF;
    margin-left:3px;
    margin-top:3px;
    box-shadow:none;
}


.twittrbtn{
    width:150px;
    height:35px;
    line-height:35px;
}
.twittrbtn a{
    display:block;
    width:100%;
    height:100%;
    text-decoration: none;
    background:#668AD8;
    text-align:center;
    color:#FFFFFF;
    font-size:20px;
    font-style:oblique;
    box-shadow:3px 3px 0px 0px #5375BD ;
}
.twittrbtn a:hover{
    background:#668AD8;
    color:#FFFFFF;
    margin-left:3px;
    margin-top:3px;
    box-shadow:none;
}

.twichbtn{
    width:150px;
    height:35px;
    line-height:35px;
}
.twichbtn a{
    display:block;
    width:100%;
    height:100%;
    text-decoration: none;
    background:#76478D;
    text-align:center;
    color:#FFFFFF;
    font-size:20px;
    font-style:oblique;
    box-shadow:3px 3px 0px 0px #A9B6BD ;
}
.twichbtn a:hover{
    background:#B0D7D8;
    color:#FFFFFF;
    margin-left:3px;
    margin-top:3px;
    box-shadow:none;
}

.amazonvideobtn{
    width:150px;
    height:35px;
    line-height:35px;
}
.amazonvideobtn a{
    display:block;
    width:100%;
    height:100%;
    text-decoration: none;
    background:#523F8D;
    text-align:center;
    color:#FFFFFF;
    font-size:20px;
    font-style:oblique;
    box-shadow:3px 3px 0px 0px #A9B6BD ;
}
.amazonvideobtn a:hover{
    background:#5E4BD8;
    color:#FFFFFF;
    margin-left:3px;
    margin-top:3px;
    box-shadow:none;
}

/*https://generator.web-alpha.info/btn/index.php#step1*/